# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# hugo file
.hugo_build.lock
## self config
config.toml
## self blog
posts/
## build file
public/
resources/

# 同步和查看软件留痕
.DS_Store
.ecloud/
.obsidian/
